*{
    margin: 0; padding: 0;
}

ul, li{
    list-style: none;
    line-height: 1;
}

body{
    background-color: #000000;
    color: #ffffff; line-height: 1;
    font-family: 'Baloo Bhaina 2', 'Nanum Gothic', sans-serif;
}


.js-container{
    position: absolute;
    top: 10%; left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.js-clock h1{
    margin-bottom: 15px;
    font-size: 2.5em;
}

.js-clock h2{
    font-size: 8em;
}

h1{
    /* color: #ffffff; */
    transition: all 0.3s ease-in-out;
}

.btn{
    cursor: pointer;
}

.clicked{
    color: #0000ff;
}

.form, .greeting{
    display: none;
}

form input{
    display: inline-block;
    width: 100%; height: 60px;
    background: transparent;
    border: 0; border-bottom: 3px solid #ffffff;
    text-align: center;
    color: #ffffff; font-size: 2.5em;
    font-family: 'Baloo Bhaina 2', 'Nanum Gothic', sans-serif;
}
input::-webkit-input-placeholder{
    color: #ffffff;
}
input:-ms-input-placeholder{
    color: #ffffff;
}

.js-toDoForm{
    margin-top: 55px;
}

.js-greeting{
    margin-top: 80px;
    font-size: 2.5em;;
}

.js-greeting .user-name{
    display: inline-block; margin-left: 16px;
    text-decoration: underline solid;
    font-size: 1.5em; 
}

.showing{
    display: block;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 0.7;
    }
}

.js-toDoList{
    margin-top: 30px;
}
.js-toDoList li{
    margin-bottom: 18px;
    vertical-align: middle;
    font-size: 1.5em;
}
.js-toDoList span{
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    font-family: 'Nanum Gothic';
}
.js-toDoList button{
    vertical-align: middle;
}

.bgImage{
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    z-index: -1;
    animation: fadeIn 0.5s linear;
    opacity: 0.7;
}

.js-weather{
    position: absolute;
    top: 30px; right: 30px;
}